
.product-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 250px;

    border-radius: 10px;
    border: 2px solid rgb(0, 132, 255);
    background-color: #efefef;
}


.product-div p{
    color: rgb(0, 132, 255);
    font-weight: 800;
    margin-left: 20px;
}


.product-div img{
    height: 240px;
    width: 240px;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin: auto;
}

.product-div button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: #fff;
    
    margin-bottom: 20px;
    background: rgb(0, 132, 255);
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}